* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 18px;
}

.wrapper {
    width: 900px;
    height: 1000px;
    margin: 0 auto;
    /*border: 1px solid red;*/
}

.container {
    padding: 15px;
}

.avatar {
    margin: 20px 0 20px 0;
    display: flex;
    align-items: center;
}

.avatar img {
    border-radius: 20px;
    box-shadow: 1px 1px 2px 5px rgba(0, 0, 0, .05);
    margin-right: 20px;
}


.name-box h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 35px;
    margin-bottom: 5px;
}

.name-box-text{
    font-weight: 700;
}

.main {
    /*width: 600px;*/
    margin-top: 20px;
    padding: 0 20px 0 20px;
}

.card {
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 3px 5px 2px 3px rgba(0, 0, 0, .1);
}

.about-me {
    background: rgba(241, 104, 104, 0.1);
    border-radius: 10px 0 10px 0;
}

.hobby {
    background: rgba(145, 145, 212, 0.2);
    border-radius: 0 10px 0 10px;
}

.experience-work {
    background: rgba(241, 104, 104, 0.1);
    border-radius: 10px 0 10px 0;
}

.personal-qualities {
    background: rgba(145, 145, 212, 0.2);
    border-radius: 0 10px 0 10px;
}

.target {
    background: rgba(241, 104, 104, 0.1);
    border-radius: 10px 0 10px 0;
}

.text {
    padding-left: 20px;
    width: 600px;
    font-weight: 700;
}

.about-me-title {
    margin-bottom: 20px;
}

.about-me-text {
    line-height: 25px;
}

.title {
    padding-bottom: 20px;
}

.list {
    padding-left: 40px;
    line-height: 25px;
    font-style: italic;
}










